<!doctype html>
<title>{% block title %}{% endblock %}{% if appname %} | {{ appname }}{% endif %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{#<link rel="stylesheet" media="screen and (max-width: 800px)" href="{{ url_for('static', filename='small.css') }}" />#}
<div class=page>
  <ul class=nav>
    <li><a href="{{ url_for('new_paste') }}">New Paste</a>
    {% if g.user and g.user == "admin" %}<li><a href="{{ url_for('admin') }}">admin</a></li>{% endif %}
    {% if g.user %}<li><a href="{{ url_for('logout') }}">Sign out</a></li>
    {% else %}<li><a href="{{ url_for('login') }}">Sign in</a>{% endif %}
    {#
    {% if g.user %}
    <li><a href="{{ url_for('my_pastes') }}">My Pastes</a>
    <li><a href="{{ url_for('logout') }}">Sign out ({{ g.user.display_name }})</a>
    {% else %}
    <li><a href="{{ url_for('login') }}">Sign in</a>
    {% endif %}
    #}
  </ul>
  {% for message in get_flashed_messages() %}
    <p class=flash>{{ message }}
  {% endfor %}
  {% block body %}{% endblock %}
</div>
