<html>
<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<center>
<h1>Login Form</h1>
<form action="{{ login_url }}" method="post">
<p>Username <input type="text" value="" name="username" required/></p>
<p>Password <input type="password" name="password" required/></p>
<p><input accesskey="s" type="submit" value="Submit"/></p>
</form>
</center>
</body>
</html>
