{% extends "layout.html" %}
{% block title %}New Paste{% endblock %}
{% block body %}
<form action="" method=post>
  <h2><div class="pastetitle"><textarea rows="1" name="pastetitle" placeholder="Untitled paste"></textarea></div>
    {%- if parent %}
    - Reply to {{ parent.title }}
    {%- endif %}
    <span class="chk-private"><input name="is_private" id="is_private" type="checkbox"/><label for="is_private">Private</label></span>
    {% if exp_opts %}<span class="drop-expiration"><label for="exp">Expires:</label><select name="exp" id="exp">
    {% for o in exp_opts %}<option value="{{ o }}">{{ o }}</option>{% endfor %}
    </select></span>{% endif %}
  </h2>
  <div class=code><textarea name=code cols=60 rows=12>{{ parent.code }}</textarea></div>
  <p><input type=submit value="New Paste">
</form>
{% endblock %}
