{% extends "layout.html" %}
{% block title %}{{ paste.title }}{% endblock %}
{% block body %}
  {# <h2>Paste #{{ paste.id }}</h2> #}
  <h2>{{ paste.title }}</h2>
  <dl>
    {% if paste.user %}
    <dt>Author
    <dd>{{ paste.user.display_name }}
    {% endif %}
    <dt>Date
    <dd>{{ paste.pub_date.strftime('%FT%TZ') }}
    {% if paste.exp_date and paste.exp_date != paste.pub_date %}<dt>Expires
    <dd>{{ paste.exp_date.strftime('%FT%TZ') }}{% endif %}
    <dt>Actions
    <dd>
      {% if not paste.is_private %}
        <a href="{{ url_for('new_paste', reply_to=paste.id) }}">Reply</a>
      {% endif %}
      {%- if g.user and paste.user == g.user -%}
      , <a href="{{ url_for('delete_paste', paste_id=paste.id) }}">Delete</a>
      {% endif %}
    {% if parent %}
    <dt>In reply to
    <dd><a href="{{ url_for('show_paste', paste_id=paste.parent_id) }}">{{ parent.title }}</a>
    {% endif %}
    {% if children %}
    <dt>Replies
    <dd>
      {% for childid,childtitle in children -%}
        {%- if not loop.first %},{% endif %}
        <a href="{{ url_for('show_paste', paste_id=childid) }}">{{ childtitle }}</a>
      {%- endfor %}
    {% endif %}
  </dl>
  <div class=code><pre>{{ paste.code }}</pre></div>
{% endblock %}
